body {
    background-color: #FCF6F5;
}

@font-face {
    font-family: 'Urban Decay';
    src: url('fonts/urban-decay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.home_title {

    font-family: 'Urban Decay', sans-serif;
    color: #2BAE66;
    font-size: 125px;
    text-align: center;
    padding-top: 150px;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: #2BAE66;
    /* width: 100%; */
}

.navbar a {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px
}

.navbar a:hover {

    background-color: #28a35f;
    color: white;

}

.navlogo {
    

    object-fit:cover;

}

.animal_container {
    padding: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color: #28a35f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animal a {
    color: #28a35f;
    font-size: 32px
}
