body {
    background-color: #FCF6F5;
}

@font-face {
    font-family: 'Urban Decay';
    src: url('fonts/urban-decay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.home_title {

    font-family: 'Urban Decay', sans-serif;
    color: #2BAE66;
    font-size: 125px;
    text-align: center;
    padding-top: 150px;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    background-color: #2BAE66;
}

.navbar a {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 32px
}

.navbar a:hover {

    background-color: #28a35f;
    color: white;

}


.animal a {
    color: #28a35f;
    font-size: 32px
}

.add_container{
    margin: auto;
    width: 50%;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color: #28a35f;
    
}

input[type=text] {
    width: 100%;
    border-style: none;
    border-radius: 6px;
    margin: 10px

}

input[type=date] {
    width: 100%;
    border-style: none;
    border-radius: 6px;
    margin: 10px


}


#vet{
    width: 100%;
    font-size: 13px;
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 6px;
    margin: 10px

} 

.add_animal_btn {
    width: 100%;
    padding: 20px;
    align-items: center;
    margin: 20px 8px;
    
}

.update_header {
    margin: auto;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size:x-large;
    color: #28a35f;
    text-align: center;
}

.update_container{
    margin: auto;
    width: 50%;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    color: #28a35f;
    
}

.update_animal_btn{
    width: 100%;
    padding: 20px;
    align-items: center;
    margin: 20px 8px;
}

.show_animal_container_head{
    margin: auto;
    width: 50%;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: xx-large;
    color: #28a35f;
    text-align: center;
}

.show_animal_container_body{
    margin: auto;
    width: 50%;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: large;
    color: #28a35f;
    text-align: center;
}

.final_delete_btn {
    margin: -5px 0px;
    width: 50%;
    padding: 20px;

    

}

.final_update_btn {
    margin: 20px 0px;
    width: 50%;
    padding: 20px;

}

.vet_name {
    margin: auto;
    width: 50%;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: xx-large;
    color: #28a35f;
    text-align: center;
    
}

.vet_bio {
    margin: auto;
    width: 50%;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: x-large;
    color: #28a35f;
    text-align: center;
    border-style: none;
    border-radius: 6px;
    background-color: #ffffff;
    
}

.animal_container {
    margin: auto;
    width: 50%;
    padding: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: large;
    color: #28a35f;
    text-align: center;
    
}


