@font-face {
    font-family: 'Urban Decay';
    src: url('fonts/urban-decay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.home_title {

    font-family: 'Urban Decay', sans-serif;
    color: #2BAE66;
}