@media (max-width: 584px) {
    body {
      width: 95%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-left: 2%;
        padding-right: 2%;
        border-style: none;
        border-radius: 6px;

    }

    @font-face {
        font-family: 'Urban Decay';
        src: url('fonts/urban-decay.woff2') format('woff2'),
             url('fonts/urban-decay.woff') format('woff'),
             url('fonts/urban-decay.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    .home_title {
    
        font-family: 'Urban Decay', sans-serif;
        color: #2BAE66;
        font-size: 125px;
        text-align: center;
        padding-top: 150px;
    }

  }